<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta name="data-spm" content="a211ue">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="aplus-xplug" content="NONE">
    <meta name="aplus-terminal" content="1">
    <meta name="aplus-touch" content="1">
    <meta name="aplus-waiting" content="1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>乐养老</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <script type="text/javascript">
        window.onload = function() {
            isWeixinBrowser();
        }
        //判断是否微信浏览器
        function isWeixinBrowser() {
            var ua = navigator.userAgent.toLowerCase();
            var result = (/micromessenger/.test(ua)) ? true : false;
            if (result) {
                console.log('你正在访问微信浏览器');
            }
            else {
                console.log('你访问的不是微信浏览器');
            }
            return result;
        }
    </script>
</head>
<body>
<div id="app">
    <div id="page1" class="page" :class="{active:currentPage == 1}">
        <header>
            <div class="mui-search-container">
                <img src="img/home/icon-search.png" class="icon-search">
                <input readonly @focus="showSearch()" type="text" placeholder="请输入您搜索的关键词"/>
                <button disabled>搜索</button>
            </div>
        </header>
        <div class="mui-content">
            <!--
                轮播图
            -->
            <div id="slider" class="mui-slider" >
                <div class="mui-slider-group mui-slider-loop">
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img :src="imgList[imgList.length - 1]">
                        </a>
                    </div>
                    <div v-for="(src,index) in imgList" class="mui-slider-item" :class="{'mui-active':index == 0}">
                        <a href="#">
                            <img :src="src">
                        </a>
                    </div>
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img :src="imgList[0]">
                        </a>
                    </div>
                </div>
                <div class="mui-slider-indicator">
                    <div v-for="n in imgList.length" class="mui-indicator" :class="{'mui-active':n == 1}"></div>
                </div>
            </div></div>
            <!--
                选项卡
            -->
            <div id="tab-container" class="tab-container">
                <template v-for="(item,index) in tabList">
                    <a @click="loadTabContent(item.id,index)" href="javascript:;" class="tab-item" :class="{active:index == activeIndex}">{{item.name}}</a>
                </template>
            </div>
            <!--
                选项卡内容
            -->
            <div class="tab-content" :class="{active:index == activeIndex}" v-for="(tab,index) in tabList">
                <div @click="goInner(item.id)" v-for="item in tabContent.get(tab.id)" class="tab-content-item">
                    <div class="img-container">
                        <div class="class-label">
                            <img src="img/home/label.png"/>
                            <p class="class-label-name">{{item.label}}</p>
                        </div>
                        <img :src="item.img"/>
                        <p class="comments-and-times">{{item.times}}浏览 &#8226; {{item.comments}}评论</p>
                    </div>
                    <div class="tab-content-desc">
                        <p class="tab-content-desc-title">{{item.title}}</p>
                        <p class="tab-content-desc-content">{{item.content}}</p>
                        <p class="tab-content-desc-date">{{item.date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--
           描述：底部导航栏
        -->
        <nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item active" href="javascript:;">
                <img src="img/course-active.png"/>
                <span class="mui-tab-label">课程</span>
            </a>
            <a class="mui-tab-item"  href="javascript:;" onclick="openWindow('discovery.html')">
                <img src="img/discovery.png"/>
                <span class="mui-tab-label">发现</span>
            </a>
            <a class="mui-tab-item" href="javascript:;" onclick="openWindow('person-home.html')">
                <img src="img/my.png"/>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
        <span style="display: none;">{{tabContentTracker}}</span>
    </div>
    <div id="page2" class="page" :class="{active:currentPage == 2}">
        <header>
            <div class="mui-search-container">
                <img @click="goBack" src="img/home/icon_backblack@3x.png" class="back-icon"/>
                <img src="img/home/icon-search.png" class="icon-search">
                <input @focus="showHistory()" id="search-keys" type="text" v-model="searchKeys" placeholder="请输入您搜索的关键词"/>
                <button type="button" @click="searchContent()">搜索</button>
            </div>
        </header>
        <!--历史搜索记录-->
        <div class="history-record-container search-section" :class="{active:isInput}">
            <div class="history-record">
                <div class="history-title">
                    <img class="history-record-img" src="img/home/icon_search_history@3x.png"/>
                    <p class="history-record-tips">历史记录</p>
                </div>
                <div @click="clearHistory()" class="history-clear">
                    <img class="history-record-img" src="img/home/icon_search_trash@3x.png"/>
                    <span class="history-clear-btn">清除</span>
                </div>
            </div>
            <div class="history-record-show">
                <p @click="searchContent(item)" v-for="item in historyList" class="history-record-item">{{item}}</p>
            </div>
        </div>
        <!--搜索内容展示-->
        <div class="search-content-container search-section" :class="{active:!isInput}">
            <div @click="goInner(item.id)" v-for="item in searchList" class="tab-content-item">
                <div class="img-container">
                    <div class="class-label">
                        <img src="img/home/label.png"/>
                        <p class="class-label-name">{{item.label}}</p>
                    </div>
                    <img :src="item.img"/>
                    <p class="comments-and-times">{{item.times}}浏览 &#8226; {{item.comments}}评论</p>
                </div>
                <div class="tab-content-desc">
                    <p class="tab-content-desc-title">{{item.title}}</p>
                    <p class="tab-content-desc-content">{{item.content}}</p>
                    <p class="tab-content-desc-date">{{item.date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="assets/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="assets/mui/js/mui.js"></script>
<script type="text/javascript" src="assets/vue/vue.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>